[General]
input_dir = "~/Music/Songs" # Change this to your songs folder location
output_dir = "~/Music/Extracted-Songs-2" # Change this to whatever you want your output location to be
export_into_subfolders = False

[One_Song]
export_into_deep_subfolder = False
song_filename = "<Artist> - <Title> <BeatmapID>"
bg_export_mode = AS_META_IF_MISSING

[Rates]
export_into_deep_subfolder = False
song_filename = "<Artist> - <Title> [<Version>] <BeatmapID>"
bg_export_mode = AS_META_IF_MISSING

[Map_Pack]
export_into_deep_subfolder = False
song_filename = "<Artist> - <Version> <BeatmapID>"
bg_export_mode = AS_META_IF_MISSING
# # See docs/configuration.md for configuration guide
# 
# [General]
# input_dir = "~/Music/Songs" # Change this to your songs folder location
# output_dir = "~/Music/Extracted-Songs" # Change this to whatever you want your output location to be
# #export_into_subfolders = True
# #subfolder_name = "<Artist> - <Title> <BeatmapSetID>"
# #illegal_char_override = "-"
# #beatmap_type_cutoff = 0.7
# 
# [One_Song]
# #export_into_deep_subfolder = False
# #deep_subfolder_name = "<Version>"
# #overwrite_existing_files = False
# #song_filename = "<Artist> - <Title>"
# #meta_write_mode = IF_MISSING
# #title_meta = "<Title>"
# #artist_meta = "<Artist>"
# #bg_export_mode = AS_SEPARATE
# #bg_filename = "<BackgroundFilename>"
# 
# [Rates]
# #export_into_deep_subfolder = False
# #deep_subfolder_name = "<Version>"
# #overwrite_existing_files = False
# #song_filename = "<Artist> - <Title> [<Version>]"
# #meta_write_mode = IF_MISSING
# #title_meta = "<Title> [<Version>]"
# #artist_meta = "<Artist>"
# #bg_export_mode = AS_SEPARATE
# #bg_filename = "<BackgroundFilename>"
# 
# [Map_Pack]
# #export_into_deep_subfolder = True
# #deep_subfolder_name = "<Version>"
# #overwrite_existing_files = False
# #song_filename = "<Artist> - <Version>"
# #meta_write_mode = IF_MISSING
# #title_meta = "<Version>"
# #artist_meta = "<Artist>"
# #bg_export_mode = AS_SEPARATE
# #bg_filename = "<BackgroundFilename>"
